*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #444;
    color: white;
    font-size: 18px;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

a {
    color: white;
    display: inline;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    max-width: 400px;
}

main {
    position: relative;
    width: 100%;
}

address {
    margin: 10px 0 20px;
}

.site-nav {
    padding: 5px;
    position: sticky;
    top: 5px;
}

.site-nav__section + .site-nav__section:before {
    content: '\00b7  ';
}

.row {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.row:before {
    background: rgba(0, 0, 0, 0.60);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.row > * {
    flex: 1 0 0;
    max-width: 600px;
    position: relative;
}

.row--title {
    background-image: url($HERO_1_IMAGE);
    z-index: 1,
}

.row--about {
    flex-wrap: wrap;
    justify-content: space-between;
}

.row--about img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    width: 100%;
}

.wrapper--about-img {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin: 10px;
    min-width: 284px;
    order: 0;
    overflow: hidden;
}

.wrapper--about-text {
    order: 1;
    margin: 0 auto;
    min-width: 284px;
}

.row--details {
    background-image: url($HERO_2_IMAGE);
}

.row--location {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.wrapper--location-text {
    margin: 0 auto;
    min-width: 284px;
}

.wrapper--location-map {
    align-self: stretch;
    min-width: 284px;
    margin: 10px;
}

.row--gifts {
    background-image: url($HERO_2_IMAGE);
}

@media (min-width: 768px) {
    .row--about {
        padding: 0 20px 0 0;
    }

    .wrapper--about-text {
        margin: 0 60px 0 0;
    }

    .wrapper--about-img {
        margin: 60px;
    }

    .row--location {
        padding: 0 0 0 20px;
    }

    .wrapper--location-text {
        margin: 0 0 0 60px;
    }

    .wrapper--location-map {
        margin: 60px;
    }
}
