html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #444;
    color: white;
    font-size: 18px;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

a {
    color: white;
    display: inline;
}

img {
    width: 100%;
}

.site-nav {
    padding: 5px;
    position: sticky;
    top: 5px;
}

.site-nav__section + .site-nav__section:before {
    content: '\00b7  ';
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    max-width: 400px;
}

main {
    position: relative;
    width: 100%;
}

.row {
    align-items: stretch;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.row--reverse {
    flex-direction: row-reverse;
}

.row:before {
    background: rgba(0, 0, 0, 0.60);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.row--light,
.row--light a {
    color: black;
}

.row--light:before {
    background: rgba(0, 0, 0, 0.10);
}

.row--1,
.row--5 {
    background-image: url($HERO_1_IMAGE);
}

.row--1 {
    position: sticky;
    top: -100%;
    z-index: 1;
}

.row--2 {
    background-image: url($HERO_2_IMAGE);
}

.row--3 {
    margin-top: -44px;
    padding-top: 44px;
}

.row--3:before {
    background: rgba(0, 0, 0, 0);
}

.row--4 {
    background-image: url($HERO_4_IMAGE);
}

.row--6 {
    background-image: url($HERO_6_IMAGE);
}

.row__cell {
    align-items: center;
    display: flex;
    flex: 1 0;
    justify-content: center;
    min-height: 105vh;
    min-width: 450px;
    z-index: 1;
}

.row__cell-content {
    margin: 20px;
}
